.our{
    width: 1280px;
    margin-bottom: 168px;
    padding-right: 230px;
    padding-left: 85px;
  }
  
  .our-list{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
  }
  
  .our-list-title{
    font-family: Fraunces ;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
  }
  
  
  
  
  .our-list__text{
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
  }
  
  .our-list__tel{
    text-decoration: none;
    line-height: 26px;
    color: #333D4B;
  }